<!DOCTYPE>
<html>
<head>
  <title></title>
  </head>
  <body>

<!DOCTYPE html>
<html>
<head>
    <title>Appraisal Board</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    {{ JSGlue.include() }}

    {% block page_css %}
    {% endblock page_css %}
</head>
<body>
    {% block main_content %}
    {% endblock main_content %}

    {% block page_scripts %}
    {% endblock page_scripts%}
</body>
</html>
