{% extends "base.jinja" %}
{% set active_page = "welcome" %}

{% block page_css %}
{% endblock page_css %}

{% block main_content %}
<h1>Welcome to Appraisal Board</h1>

Please input the github-url of the repository you would like to view:
<form action="{{url_for('view_repo_from_url')}}"
      method='post'
      id='view-repo-form'>
    {{ repo_url_form.hidden_tag() }}
    Repo URL: {{ repo_url_form.repo_url() }}
    <input type="submit" name='submit' value="submit">Submit</input>
</form>


{% endblock main_content %}

{% block page_scripts %}
{% endblock page_scripts %}
